@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduling.Models.ApplicationUser> SignInManager

@*
<div class="nav navbar-nav navbar-right">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
     <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
</div>

 *@

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" id="=logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">

            @*<li class="btn btn-group-link" >@Html.ActionLink("Sign in","Login", "Account", routeValues:null, htmlAttributes: new {id = "LoginLink"})</li>*@
            <li class="nav-item">
                Welcome, @User.Identity.Name!
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logOff" asp-controller="Account" asp-action="LogOff">Log off</a>
            </li>

        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">

        @*<li class="btn btn-group-link" >@Html.ActionLink("Sign in","Login", "Account", routeValues:null, htmlAttributes: new {id = "LoginLink"})</li>*@
        <li class="nav-item">
            <a class="nav-link" id="registerLink" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loginLink" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>

    </ul>
}