@model AppointmentScheduling.Models.ViewModels.LoginViewModel

<h2>Sign in</h2>

<div class="row">
    <div class="col-md-8">
       <section id="loginForm">
           <form id="account" method="post" asp-action="Login" asp-controller="Account">


           </form>
       </section>
    </div>
</div>